.wpgcso-sync-wrap {
	margin: 2em auto;
	text-align: center;
}

.wpgcso-sync-wrap .highlight-text {
	font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.wpgcso-sync-wrap a.remove {
	margin-top: 1em;
	color: #aa0000;
	text-decoration: none;
}

.wpgcso-sync-wrap a.remove:hover {
	color: #ff0000;
	text-decoration: none;
}
